<html>

<head>
    <title>MEMESUPREME.COM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="framework/fontawesome-free/css/all.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="icon" href="imgs/favicon.png">
</head>

<body>
    <% console.log(typeof data) %>
    <% if(typeof data === 'undefined'){%>
    <%- include navbar %>
    <%} else {%>
    <%- include loggedinnavbar %>
    <%- include uploader %>
    <%} %>
    
    

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <a href="#">See more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <%- include footer %>
</body>

</html>