<div class="fixed col-mx-4 mx-auto steadysizecontainer">
        <br>
        <br>
        <div class="card ml-5">
            <div class="card-header">
                <h4 align =center><strong>PICK YOUR POISON</strong></h4>
            </div>
            <div class="card-body">
                <i>Available categories to choose from</i>
                <div class="pb-2 mt-4 mb-2">
                    <a data-toggle="modal" data-target="#wfModal" >
                        <p align= center>
                        <% for(var i = 0; i < data.list.length; i++) { %>
                         <% for(var j = 0; j < data.list[i].tags.length; j++) {%>
                        <span style="font-size: 11pt;" class="badge badge-warning"><%= data.list[i].tags[j] %></span><% } %>
                        <% } %>
                        </p>
                    </a>
                    
                    <select multiple id="e1" style="width:300px">
                        <% for(var i = 0; i < data.list.length; i++) { %>
                            <% for(var j = 0; j < data.list[i].tags.length; j++) {%>
                                <option value="<%= data.list[i].tags[j] %>"><%= data.list[i].tags[j] %></option>
                            <% } %>
                        <% } %>
                    </select>
                    
                    <script>
                    $(document).ready(function() { 
                        $("#e1").select2();
                    });    
                        
                    </script>
                    
                    <br>
                    <br>
                    <form class="form-inline" >
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="text-align: center;">Search</button>
                    </form>
                        
                </div>
            </div>
            <div class="card-footer">
                <small>copyright @ hehe.com</small>

            </div>
        
        </div>
    </div>