<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2>
                        <strong>Upload a Meme</strong>
                    </h2>
                </div>
                <div class="card-body uploadingcontent">
                    <form class="my-0 my-lg-0">
                        <div class="upload content">
                            <input class="form-control input-lg" type="text" placeholder="Meme Title" aria-label="Upload">
                            <br>
                            <input type="file" class="form-control-file border input input-lg" name="file">
                            <br>
                            <input class="form-control input-lg" type="text" placeholder="Meme Tags" aria-label="Upload">
                            <br>
                            <div class="uploadbtn">
                                <button class="btn btn-dark btn-lg my-2 my-sm-1" type="submit">Upload Meme</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>