<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2>
                        <strong>Upload a Meme</strong>
                    </h2>
                </div>
                <div class="card-body uploadingcontent">
                    <form id="uploadMemeForm" class="my-0 my-lg-0" autocomplete="off" action="/system-processing/uploadpost-result" method="post" enctype="multipart/form-data" >
                        <div class="upload content">
                            <input class="form-control input-lg" type="text" placeholder="Meme Title" name="inputPostTitle" aria-label="Upload">
                            <br>
                            <!-- <input type="file" class="form-control-file border input input-lg" name="imgfile"> -->

                            <div class="uploader" onclick="$('#filePhoto').click()">
                                

                                <p>click here or drag and drop your image!</p>
                                <img src="" />
                                <input type="file" id="filePhoto" class="form-control-file input-lg" placeholder="Upload Meme" name="inputPostImage" aria-label="Upload"
                                />
                            </div>

                            <script>
                                var imageLoader = document.getElementById('filePhoto');
                                imageLoader.addEventListener('change', handleImage, false);

                                function handleImage(e) {
                                    var reader = new FileReader();
                                    reader.onload = function (event) {

                                        $('.uploader img').attr('src', event.target.result);
                                    }
                                    reader.readAsDataURL(e.target.files[0]);
                                }
                            </script>
                            <!-- OPTION NUMBER 2 : 
                            <input type="file" accept="image/*" onchange="loadFile(event)" class="form-control-file input-lg" placeholder="Upload Meme" name="inputPostImage" aria-label="Upload">
                            <br>
                            <img id="output"/>
                            <script>
                                var loadFile = function(event) {
                                var output = document.getElementById('output');
                                output.src = URL.createObjectURL(event.target.files[0]);
                                };
                            </script>
                            <br>
                            <input class="form-control-file input-lg" type="file" placeholder="Upload Meme" name="inputPostImage" aria-label="Upload"> -->
                            <br>
                            <input class="form-control input-lg" type="text" placeholder="Meme Tags, Separated by, Comma" name="inputTags" aria-label="Upload">
                            <br>
                           
                            <div class="btn-group">
                                <input class="form-control input-lg" type="text" id="inputVisibility" name="inputVisibility" readonly="true" placeholder="Public">
                                
                                <button id="btnPrivate" type="button" class="btn btn-secondary" onclick="return changeVisibilityPrivate()">Private</button>
                                <button id="btnPublic" type="button" class="btn btn-primary" onclick="return changeVisibilityPublic()">Public</button>
                            </div>
                            <br>
                            <br>
                            
                            <!-- AUTOCOMPLETE GOES HERE -->
                            <div id="sharedUserDiv" style="display: none;" class="autocomplete">
                                <input class="form-control input-lg" id="inputSharedUser" type="text"  placeholder="Shared User" name="inputSharedUser" aria-label="Upload" >

                            </div>

                            <div class="uploadbtn">
                                <button class="btn btn-dark btn-lg my-2 my-sm-1" type="submit">Upload Meme</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>