<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2>
                        <strong>Upload a Meme</strong>
                    </h2>
                </div>
                <div class="card-body uploadingcontent">
                    <form class="my-0 my-lg-0" action="/system-processing/uploadpost-result" method="post" enctype="multipart/form-data">
                        <div class="upload content">
                            <input class="form-control input-lg" type="text" placeholder="Meme Title" name="inputPostTitle" aria-label="Upload">
                            <br>
                            <!-- <input type="file" class="form-control-file border input input-lg" name="imgfile"> -->
                            <!-- <div class="custom-file">
                                <input type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Choose File" name="inputPostImage">
                                <label class="custom-file-label" for="customFile">Choose file</label>

                            </div> -->
                            <!-- <br> -->
                            
                            <input class="form-control-file input-lg" type="file" placeholder="Upload Meme" name="inputPostImage" aria-label="Upload">
                            <br>
                            <input class="form-control input-lg" type="text" placeholder="Meme Tags" name="inputTags" aria-label="Upload">
                            <br>
                            <!-- <input type="text"  name="inputVisibility"  value="false"> -->
                            
                            <!-- <label class="switch">

                                <input type="checkbox" id="inputVisibility" onclick="return changeVisibility()">
                                <span class="slider round"></span>
                            </label> -->
                            <div class="btn-group">
                                    <input type="text"  id="inputVisibility" name="inputVisibility" readonly="true">
                                    <!-- <label>Visibility Setting</label> -->
                                    <button type="button" class="btn btn-outline-success" onclick="return changeVisibilityPrivate()">Private</button>
                                    <button type="button" class="btn btn-outline-danger" onclick="return changeVisibilityPublic()">Public</button>
                            </div>
                            <div>
                                
                            </div>
                            <div class="uploadbtn">
                                <button class="btn btn-dark btn-lg my-2 my-sm-1" type="submit">Upload Meme</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>